<header class="header header--stick">
    <div class="header-inner">
        <div class="header-logo">
            <img src="images/logo.svg" >
        </div>

        <div class="header-actions">
            <div class="header-languages">
                <a class="language-link is-active" href="#">Русский</a>
            </div>

            <div class="header-goToExness">
                <a class="goToExness-link" href="https://www.exness.com/">Сайт Exness</a>
            </div>
        </div>
    </div>
</header>
