<section class="section section--fee">
    <div class="section-inner">
        <div class="fee-percent">
            <h6 class="fee-percent-title">Для всех типов счетов</h6>
            <img class="fee-percent-value" src="images/fee-percent-value.svg" alt="0%" />
            <h6 class="fee-percent-caption">Комиссия за переводы</h6>
        </div>
        <div class="fee-desc">
            <p>Выводя со&nbsp;счета форекс-брокера EXNESS 1000$, вы&nbsp;получаете на&nbsp;свой кошелек или банковский счет ровно 1000$</p>
        </div>
    </div>
</section>
