<section class="section section--intro">
    <div class="section-inner">
        <h1 class="intro-title">Подлинная свобода распоряжения своими средствами на Форекс</h1>
        <p class="intro-desc">Пополняйте счет и выводите прибыль без комиссий</p>
        <button class="btn btn--primary intro-openAccountBtn">Пополнить счет</button>
    </div>
</section>
